<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Details | Hero</title>
</head>
<body>
    <h1>Hero Details</h1>
    <h2>{{single_hero}} Details</h2>
    <ul>
        <li>Alter Ego: {{single_hero.alter_ego}}</li>
        <li>Primary Ability: {{single_hero.primary_ability}}</li>
        <li>Secondary Ability: {{single_hero.secondary_ability}}</li>
        <li>Catchphrase: {{single_hero.catch_phrase}}</li>
    </ul>
    <h3><a href="{% url 'superheroes:index' %}">Return Home</a></h3>
</body>
</html>